<div id='carousel-example-generic'>
    <div >
        <div>
            <!-- Wrapper for slides -->
            <div >
                <div class="resizing">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" [src]="sanitizer.bypassSecurityTrustResourceUrl(currentUrl)"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-playlist (onFilter)="handleActualSort($event)"></app-playlist>
</div>
<toaster-container></toaster-container>


