
<div id='carousel-example-generic'>
    <div>
        <div>
            <!-- Wrapper for slides -->
            <div >
                <div class="resizing">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" [src]="currentUrl | youtubeUrl"></iframe>
                    </div> 
                </div>
            </div>
        </div>
        <div class="bgColor" >
            <app-playlist [viedoList]="playLists"></app-playlist>
        </div>
    </div>
</div>
<toaster-container></toaster-container>


