

<div class="owl-carousel-holder">
  <div class="carousel-section">
    <owl-carousel
      [options]="myCarouselOptions"
      [items]="playlistLog">
      <!-- <div class="flex-container"> -->
        <div  class="item" *ngFor="let p of playlistLog;let i = index" >
          <img class="thumbnail-image" src={{p.poster}} alt='' (click)="changetheViedo(p.trailer)" />
          <div class="moviename">{{p.name | customeUpperCase}}</div>
        </div>
      <!-- </div> -->
    </owl-carousel>
  </div>
</div>
<br/>
<br/>
<br/>
<br/>
  <toaster-container></toaster-container>
<br/>